html{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: rgb(39, 38, 38);
    color: white;
    text-align: center;
    overflow: hidden;
}

h1{
    font-size: 40px;
    font-weight: 100;
    padding-top: 70px;
}

form{
    margin: 40px 100px 100px 100px; 
}

label{
    font-size: 20px;
    text-transform: uppercase;
    padding-right: 20px;
}

input{
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 20%;
}

p{
    padding: 20px;
    margin-bottom: 40px;
    text-transform: capitalize;
}

a{
    border: 2px solid white;
    border-radius: 20px;
    font-size: 30px;
    padding: 20px 60px;
    text-decoration: none;
    color: white;
    background-color: rgb(172, 21, 21);
    transition-duration: 500ms;
    text-transform: uppercase;
}

a:hover{
    background-color: rgb(10, 72, 134);
}